@model AnnualHealthCheckJs.Models.Enrollee

@{
    ViewData["Title"] = "Delete Demo Enrollee";
}


<h3 class="text-center">Are you sure you want to delete this Demo Enrollee?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.EmployeeID)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.EmployeeID)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.EnrollmentID)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.EnrollmentID)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-4">
            Full Names
        </dt>
        <dd class="col-sm-8">
            @Model.LastName @Model.OtherNames
        </dd>
    </dl>

    <form asp-action="RemoveDemo">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="RemoveDemo" class="btn btn-danger" /> |
        <a asp-action="Demos">Back to List</a>
    </form>
</div>
