@model AnnualHealthCheckJs.Models.State

@{
    ViewData["Title"] = Model.Name;
}

<h4 class="text-center">@Model.Name</h4>
<hr />
<div class="offset-3 col-6">
    <div class="card">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Code)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Code)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Country)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Country.ISO_Code_2)
                </dd>
            </dl>
        </div>
        <div class="card-footer">
            <div class="pull-right">
                <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
                <a asp-action="Index">Back to List</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
